/* <uniquifier>: Use a unique and descriptive class name */
/* <weight>: Use a value from 200 to 800 */
*{
  font-family: "Plus Jakarta Sans", serif;
  font-optical-sizing: auto;
  font-weight: auto ;
  font-style: normal;
  padding-left: 1%;
}
.create-account{
    color: blue;
}